    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="/admin/login/images/fg-img.png" alt="IMG">
              </div>
                <form class="login100-form validate-form">
                    <span class="login100-form-title">
                        <b>KHÔI PHỤC MẬT KHẨU</b>
                    </span>
                    <form onsubmit="return RegexEmail('email')">
                        <div class="wrap-input100 validate-input"
                            data-validate="Bạn cần nhập đúng thông tin như: ex@abc.xyz">
                            <input class="input100" type="text" placeholder="Email hoặc số điện thoại" name="email"
                                id="email" value="" onkeydown="keyDown(event)" />
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class='bx bx-mail-send' ></i>
                            </span>
                        </div>
                        <div class="container-login100-form-btn">
                            <input type="button" onclick="return RegexEmail('email')" value="Lấy mật khẩu" />
                        </div>

                        <div class="text-center p-t-12">
                            <a class="txt2" href="/admin/dang-nhap">
                                Trở về đăng nhập
                            </a>
                        </div>
                    </form>
                    <div class="text-center p-t-70 txt2">
                        Phần mềm quản lý bán hàng 
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Javascript-->
    <script src="/admin/login/js/main.js"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <script src="/admin/login/jquery/jquery-3.2.1.min.js"></script>
    <script src="/admin/login/bootstrap/js/popper.js"></script>
    <script src="/admin/login/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin/login/select2/select2.min.js"></script>
    <script>
        function keyDown(e){
            if(e.keyCode==13||e.which==13)
            return RegexEmail('email')
        }
    </script>