    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active"><a href="#"><b>Danh sách sản phẩm</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="product-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên nhân viên</th>
                                    <th>Ảnh</th>
                                    <th>Điện thoại</th>
                                    <th>Email</th>
                                    <th>Chức vụ</th>
                                    <th width="10" style="text-align: center;">HS Lương</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#NV001</td>
                                    <td>Nguyễn Ngọc Anh</td>
                                    <td width="20">
                                        <img class="avatar" src="/admin/images/anh-1.jpg" alt="">
                                    </td>
                                    <td>039733881</td>
                                    <td>ngocanh1995@gmail.com</td>
                                    <td>Nhân viên marketing</td>
                                    <td width="10" style="text-align: center;">8.0</td>
                                </tr>
                                <tr>
                                    <td>#NV002</td>
                                    <td>Nguyễn Viết Tú</td>
                                    <td width="20">
                                        <img class="avatar" src="/admin/images/anh-2.jpg" alt="">
                                    </td>
                                    <td>0376132600</td>
                                    <td>viettu98@gmail.com</td>
                                    <td>Nhân viên tư vấn</td>
                                    <td width="10" style="text-align: center;">6.5</td>
                                </tr>
                                <tr>
                                    <td>#NV003</td>
                                    <td>Kiều Lan Anh</td>
                                    <td width="20">
                                        <img class="avatar" src="/admin/images/anh-3.jpg" alt="">
                                    </td>
                                    <td>0389619051</td>
                                    <td>lieulananh@gmail.com</td>
                                    <td>Nhân viên tư vấn</td>
                                    <td width="10" style="text-align: center;">6.5</td>
                                </tr>
                                <tr>
                                    <td>#NV004</td>
                                    <td>Khiếu Lan Anh</td>
                                    <td width="20">
                                        <img class="avatar" src="/admin/images/anh-4.jpg" alt="">
                                    </td>
                                    <td>037334871</td>
                                    <td>khieulananh@gmail.com</td>
                                    <td>Nhân viên bán hàng</td>
                                    <td width="10" style="text-align: center;">6.0</td>
                                </tr>
                                <tr>
                                    <td>#NV004</td>
                                    <td>Khiếu Lan Anh</td>
                                    <td width="20">
                                        <img class="avatar" src="/admin/images/anh-5.jpg" alt="">
                                    </td>
                                    <td>039733881</td>
                                    <td>khieulananh@gmail.com</td>
                                    <td>Nhân viên bán hàng</td>
                                    <td width="10" style="text-align: center;">6.0</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <style>
        img.avatar{
            object-fit: contain;
            max-width: 100px;
        }
    </style>
