<main class='app-content'>
    <div class='app-title'>
        <ul class='app-breadcrumb breadcrumb side'>
            <li class='breadcrumb-item active'><a href='#'><b>Quản lý doanh thu</b></a></li>
        </ul>
        <div id='clock'></div>
    </div>
    <div class='row'>
        <div class="col-lg-12 col-sm-12">
          <div class="row" style="margin-top: 30px;">
            <div class="col col-md-12">
              <div class="row">
                <div class="col col-md-12">
                  <div class="row">
                    <div class="col col-md-9"><h4>Doanh thu 12 tháng gần đây</h4></div>
                    <div class="col col-md-3" style="text-align: right;">
                      <label for="type-chart">Loại biểu đồ</label>
                      <select name="" id="type-chart">
                        <option value="bar">Cột</option>
                        <option value="line">Đường</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col col-md-12">
                  <canvas id="myChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');
var label = [];
{{#each labels}}
  label.push("{{this}}")
{{/each}}
var data = []
{{#each data}}
  data.push({{this}})
{{/each}}
var chart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: label,
          datasets: [{
            label: "Đồng",
            data: data,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
  document.getElementById("type-chart").addEventListener("change",()=>{
    let type = document.getElementById("type-chart").value;
     chart.config.type = type;
    chart.update()
  })
</script>