    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active"><a href="#"><b>Danh sách sản phẩm</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="product-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên giao dịch</th>
                                    <th>Số tiền</th>
                                    <th width="10" style="text-align: center;">Loại giao dịch</th>
                                    <th>Thời gian</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#001</td>
                                    <td>Nhận tiền từ đơn hàng #91833</td>
                                    <td >
                                        4.550.000 ₫
                                    </td>
                                    <td width="10" style="text-align: center;">+</td>
                                    <td>04/05/2023 08:34:43</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>#002</td>
                                    <td>Nhận tiền từ đơn hàng #14112</td>
                                    <td >
                                        9.320.000 ₫
                                    </td>
                                    <td width="10" style="text-align: center;">+</td>
                                    <td>03/05/2023 17:22:08</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>#003</td>
                                    <td>Thanh toán tiền lương tháng 4 cho nhân viên</td>
                                    <td >
                                        52.500.000 ₫
                                    </td>
                                    <td width="10" style="text-align: center;">-</td>
                                    <td>01/05/2023 08:32:16</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>#004</td>
                                    <td>Nhận tiền từ đơn hàng #13491</td>
                                    <td >
                                        2.500.000 ₫
                                    </td>
                                    <td width="10" style="text-align: center;">+</td>
                                    <td>01/05/2023 08:32:16</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>#005</td>
                                    <td>Khách hoàn lại đơn hàng #97247</td>
                                    <td >
                                        7.760.000 ₫
                                    </td>
                                    <td width="10" style="text-align: center;">-</td>
                                    <td>27/04/2023 19:04:56</td>
                                    <td>Sản phẩm gặp lỗi</td>
                                </tr>
                                <tr>
                                    <td>#006</td>
                                    <td>Nhận tiền từ đơn hàng #97247</td>
                                    <td >
                                        7.760.000 ₫
                                    </td>
                                    <td width="10" style="text-align: center;">+</td>
                                    <td>26/04/2023 10:53:06</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <style>
        img.avatar{
            object-fit: contain;
            max-width: 100px;
        }
    </style>
