<main class='app-content'>
    <div class='app-title'>
        <ul class='app-breadcrumb breadcrumb side'>
            <li class='breadcrumb-item active'><a href='#'><b>Thống kê</b></a></li>
        </ul>
        <div id='clock'></div>
    </div>
    <div class='row'>
        <div class="col-lg-12 col-sm-12">
          <div class="row" style="margin-top: 30px;">
            <div class="col-md-12">
              <div class="card" style="width: calc(100% - 10px);">
                <div class="card-header" style="font-size: 20px;">
                  Thống kê 5/2023
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>Doanh thu tuần này:</b> <span style="color: red;">4.088.000 ₫</span></li>
                  
                  <li class="list-group-item"><b>Doanh thu tháng này:</b> <span style="color: red;">32.045.000 ₫</span></li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-md-6 col-12"><b>Tổng đơn hàng mới:</b> <span style="color: green;">5</span></div>
                      <div class="col-md-6 col-12"><b>Tổng khách hàng mới:</b> <span style="color: green;">2</span></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-12">
              <h4 style="margin: 30px 0 10px 0;">Sản phẩm bán chạy tháng này</h4>
              <table class="table table-striped" style="width: calc(100% - 10px);">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên Sản phẩm</th>
                    <th scope="col">Số lượng bán</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Điện thoại di động Xiaomi 12 Pro</td>
                    <td>12</td>
                    <td><a href="#" style="color: blue;">Xem chi tiết</a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Điện thoại OPPO Reno8 T 5G 256GB</td>
                    <td>8</td>
                    <td><a href="#" style="color: blue;">Xem chi tiết</a></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Điện thoại Samsung Galaxy A53 5G 256GB</td>
                    <td>3</td>
                    <td><a href="#" style="color: blue;">Xem chi tiết</a></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Điện thoại Samsung Galaxy S23 Ultra 8GB|256GB SM-S918B</td>
                    <td>3</td>
                    <td><a href="#" style="color: blue;">Xem chi tiết</a></td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Điện thoại di động iPhone 14 Pro Max (128GB)</td>
                    <td>2</td>
                    <td><a href="#" style="color: blue;">Xem chi tiết</a></td>
                  </tr>
                 <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td style="text-align: right;">Tổng: </td>
                    <td>5 sản phẩm</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>