<section class='user-info'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-3 col-sm-6 col-md-4'>
        <div class='nav'>
          <ul>
            <li>
              <a href='/user/thong-tin-ca-nhan'>Thông tin cá nhân</a>
            </li>
            <li>
              <a href='/user/mat-khau'>Mật khẩu</a>
            </li>
            <li>
              <a href='/user/gio-hang'>Giỏ hàng</a>
            </li>
            <li>
              <a href='/user/don-hang'>Đơn hàng</a>
            </li>
            <li>
              <a href='/user/dang-xuat'>Đăng xuất</a>
            </li>
          </ul>
        </div>
      </div>
      <div class='col-lg-9 col-sm-6 col-md-8'>
        <div class='row user-info__info'>
          <div class='col-lg-9 col-md-12'>
            <div class='edit-info'>
              <h3 style='margin-bottom: 10px;'>Thay đổi mật khẩu</h3>
              <div class='form-group'>
                <label for='old-password'>Mật khẩu cũ</label>
                <input type='password' class='form-control' id='old-password' value='' />
              </div>
              <div class='form-group'>
                <label for='new-password'>Mật khẩu mới</label>
                <input type='password' class='form-control' id='new-password' value='' />
              </div>
              <div class='form-group'>
                <label for='confirm-password'>Xác nhận mật khẩu</label>
                <input type='password' class='form-control' id='confirm-password' value='' />
              </div>
              <button type='submit' class='btn btn-primary' onclick='changePassword()'>Thay đổi mật khẩu</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  

  function
  changePassword() {
    var oldPassword = document.getElementById("old-password").value,
      newPassword = document.getElementById("new-password").value,
      confirmPassword = document.getElementById("confirm-password").value;
    var form = new FormData();
    form.append("oldPassword", oldPassword);
    form.append("newPassword", newPassword);
    form.append("confirmPassword", confirmPassword);
    var settings = {
      "url": "/user/thay-doi-mat-khau",
      "method": "POST",
      "timeout": 0,
      "processData": false,
      "mimeType": "multipart/form-data",
      "contentType": false,
      "data": form
    };
    $.ajax(settings).done(function(response) {
      if (typeof response != 'object') response = JSON.parse(response);
      var icon = response.code == 401 ? 'warning' : 'success';
      Swal.fire({
        title: '',
        text: response.message,
        icon: icon,
        button: {
          confirm: {
            text: 'Xác nhận',
            visible: true,
            closeModal: true,
          },
        },
      }).then((confirm) => {
        if (confirm) close();
      });

      function close() {
        if (response.message.match('đăng nhập')) {
          loginInHeader();
        }
        else if(!response.code) {
          document.getElementById("old-password").value = ""
          document.getElementById("new-password").value = ""
          document.getElementById("confirm-password").value = ""
        }
      }
    });
  }
  window.onload = () => {
    {{#if session.login}}
    {{else}}
      loginInHeader()
    {{/if}}
    
  }
</script>