<section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                   <h2>
                    {{news.title}}
                   </h2>
                   <span><i class="fa fa-calendar-o"></i> {{news.time}}</span><br>
                   <br>
                   {{{news.content}}}
                </div>
            </div>
        </div>
    </section>